<div><h3 style="margin: 20px">My notes</h3></div>
<div class="container-md">
  <% if @notes.empty? %>
    <div> Empty :(</div>
  <% else %>
    <% @notes.each do |note| %>
      <div class="card">
        <div class="card-header"><h5><%= note[:header] %></h5></div>
        <div class="card-body">
          <p class="card-text">Тут будет дата создания заметки</p>
          <a href="/notes/<% note[:id] %>" class="btn btn-primary">Details</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>