<div class="container">
  <h2>Мои заметки</h2>
  <% @notes.each do |note| %>
    <div class="row note">
      <%= #button_to(Отметить выполненной) %>
      <%= note.header %>
      <%= note.content %>
    </div>
  <% end %>
</div>
